{% extends 'home-default.html' %}
{% load static i18n %}

{% block content %}
    <div class="bg-fixed" id="about-us">
        <h1>About us</h1>
    </div>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <h2 class="heading-left">
                        Who we are
                    </h2>
                    <h2 class="sub-title text-black">
                        Peat land <span class="text-secondary">restoration</span>
                        activity through on Nature Based Solution approaches
                    </h2>
                    <p class="text-muted mt-4">
                        Teritatis et quasi architecto. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque ipsa quae ab illo invent. Sed ut perspiciatis unde omnis iste natus error sit.
                    </p>
                </div>
                <div class="col-lg-7">
                    <img class="img-fluid" src="{% static 'img/temp/cause-img-3.jpg' %}">
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="what-wedo">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-7">
                    <h2 class="heading">
                        What we do
                    </h2>
                    <p class="sub-title">
                        Runc ullamcorper, justo a iaculis elementum, enim orci viverra eros, fringilla porttitor lorem.
                    </p>
                </div>
            </div>
            <div class="row outcome">
                <div class="col-lg-4">
                    <div class="card text-center">
                        <div class="card-header">
                            <i class="mdi mdi-charity text-pink"></i>
                        </div>
                        <div class="card-body">
                            <h4>Flood</h4>
                            <p>Always length letter adieus add number moment she. Promise few compass.</p>
                            <p>Teritatis et quasi architecto. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque ipsa quae ab illo invent. Sed ut perspiciatis unde omnis iste natus error sit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card text-center">
                        <div class="card-header">
                            <i class="mdi mdi-leaf text-secondary"></i>
                        </div>
                        <div class="card-body">
                            <h4>Nature Based Solutions</h4>
                            <p>Always length letter adieus add number moment she. Promise few compass.</p>
                            <p>Teritatis et quasi architecto. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque ipsa quae ab illo invent. Sed ut perspiciatis unde omnis iste natus error sit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card text-center">
                        <div class="card-header">
                            <i class="mdi mdi-finance text-warning"></i>
                        </div>
                        <div class="card-body">
                            <h4>Climate Finance</h4>
                            <p>Always length letter adieus add number moment she. Promise few compass.</p>
                            <p>Teritatis et quasi architecto. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque ipsa quae ab illo invent. Sed ut perspiciatis unde omnis iste natus error sit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="our-mission">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="{% static 'img/temp/cause-img-3.jpg' %}" class="img-fluid">
                </div>
                <div class="col-lg-6">
                    <h2 class="heading-left">Call for Proposals</h2>
                    <p>Teritatis et quasi architecto. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque ipsa quae ab illo invent. Sed ut perspiciatis unde omnis iste natus error sit.</p>
                    <p>Teritatis et quasi architecto. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque ipsa quae ab illo invent. Sed ut perspiciatis unde omnis iste natus error sit.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}