<section class="section news-update" id="news-update">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="text-center mb-4">
                                <h2 class="heading">News update</h2>
                                <p class="text-muted fs-17">Ut enim ad minima veniam quis nostrum exercitationem ullam
                        corporis suscipit laboriosam nisi commodi consequatur.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>