{% load static %}
<section class="section feature" data-bg-img-src="{% static 'img/temp/bg-cause.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h2 class="heading-left">Coba bisa ga</h2>
                <h2 class="sub-title text-white">
                    Peat land <span class="text-warning fw-bold">restoration</span> activity
                    through on Nature Based Solution approaches
                </h2>
                <p class="text-muted fs-16 mt-4">
                    Teritatis et quasi architecto. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque ipsa quae ab illo invent. Sed ut perspiciatis unde omnis iste natus error sit .
                </p>
            </div>
            <div class="col-lg-7">
                <div class="photo-activity">
                    <img src="{% static 'img/temp/cause-img-3.jpg' %}">
                    <div class="btn-overlay">
                        <a href="#" class="btn btn-warning">Tes aja</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>