{% load static %}
<section class="section feature" id="features">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="text-center mb-4">
                    <h2 class="heading">What we do</h2>
                    <p class="text-muted fs-17">Ut enim ad minima veniam quis nostrum exercitationem ullam
                        corporis suscipit laboriosam nisi commodi consequatur.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">

            <div class="col-lg-4 col-md-7 mt-sm-4">
                <div class="feature-card p-3 py-sm-4 rounded">
                    <i class="mdi mdi-leaf text-primary float-start me-3 h2"></i>
                    <div class="content d-block overflow-hidden">
                        <h5 class="title">Nature Based Solutions</h5>
                        <p class="text-muted mt-2">
                            Development and promotion of socially-inclusive nature-based
                            practices for conservation and restoration of peatlands, mangroves and
                            biodiversity
                        </p>
                        <a href="javascript:void(0)">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-7 mt-sm-4">
                <div data-aos="fade-left" data-aos-duration="1800">
                    <div class="feature-card p-3 py-sm-4 rounded">
                        <i class="mdi mdi-finance text-primary float-start me-3 h2"></i>
                        <div class="content d-block overflow-hidden">
                            <h5 class="title">Climate Finance</h5>
                            <p class="text-muted mt-2">
                                Improved national-level governance for climate change
                                mitigation and adaptation through inclusive, gender-responsive
                                climate finance policies and programs
                            </p>
                            <a href="javascript:void(0)" class="text-dark">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-7 mt-sm-4">
                <div data-aos="fade-right" data-aos-duration="1800">
                    <div class="feature-card p-3 py-sm-4 rounded d-flex">
                        <div class="flex-shrink-0">
                            <i class="mdi mdi-water text-primary float-start me-3 h2"></i>
                        </div>
                        <div class="flex-grow-1 ms-2">
                            <div class="content">
                                <h5 class="title">Flood and Insurance</h5>
                                <p class="text-muted">
                                    Flood risk loss and damage modelling and interventions to mitigate
                                    related socioeconomic costs
                                </p>
                                <a href="javascript:void(0)">Read More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="we-work">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div data-aos="fade-right" data-aos-duration="1800" class="text-end">
                    <img src="{% static 'img/temp/help-people.jpg' %}">
                </div>
            </div>
            <div class="col-lg-5">
                <div data-aos="fade-left" data-aos-duration="1800">
                    <h2 class="heading-left mb-5">How we work</h2>
                    <p class="text-muted lh-lg">Terdapat dua partner utama universitas, yaitu Institut Pertanian Bogor (IPB) dan
                    Universitas Prasetiya Mulya (PrasMul) yang akan menjalankan seluruh aktivitas kegiatan proyek.</p>
                    <p class="text-muted">
                        Universitas Waterloo akan mendukung kedua universitas di atas untuk membuat sebuah Center of Excellent (CoE)
                        di masing-masing universitas tersebut dalam bidang Nature Based Solution di IPB dan Climate Finance di PrasMul.
                    </p>
                    <a class="btn btn-primary" href="javascript:void(0)">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</section>